@model PLCWebControl.Models.CommandDataModel
@{
    ViewData["Title"] = "Home Page";
}

<<!DOCTYPE html>
<html>
<body>
    <div class="container-stanga">
        <div id="inflow-value">Inflow: 100</div>
        <div id="sensor3"></div>
        <div id="sensor2"></div>
        <div id="sensor1"></div>
    </div>        
    <div class="container-mijloc">
        <progress id="level" value=50 max=256></progress>
        <div id="motor1"></div>
        <div id="motor2"></div>
        <div id="alarm"></div>
    </div>
    <div class="container-dreapta">
        <div id="sensor5"></div>
        <div id="sensor4"></div>
        <div id="on"></div>
    </div>
    <div class="container-control">
        <input type="button"
               value="Off"
               onclick="location.href='@Url.Action("SendButton", "Home" , new { button="Off" })'" /><br />
        <input type="button"
               value="On"
               onclick="location.href='@Url.Action("SendButton", "Home" , new { button="On" })'" /><br /><br /><br />
        <input type="button"
               value="P1"
               onclick="location.href='@Url.Action("SendButton", "Home" , new { button="P1" })'" /><br />
        <input type="button"
               value="P2"
               onclick="location.href='@Url.Action("SendButton", "Home" , new { button="P2" })'" /><br />
        <input type="button"
               value="Rst"
               onclick="location.href='@Url.Action("SendButton", "Home" , new { button="Rst" })'" /><br /><br />
        <input type="button"
               value="R1"
               onclick="location.href='@Url.Action("SendButton", "Home" , new { button="R1" })'" />
        <input type="button"
               value="R2"
               onclick="location.href='@Url.Action("SendButton", "Home" , new { button="R2" })'" /><br /><br /><br /><br /><br />
        <input type="button"
               value="I-"
               onclick="location.href='@Url.Action("SendButton", "Home" , new { button="I-" })'" />
        <input type="button"
               value="I+"
               onclick="location.href='@Url.Action("SendButton", "Home" , new { button="I+" })'" />
    </div>
</body>
</html>

@section scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        getStare();
        function getStare() {
            $.ajax({                           // face apel de la client(browser) la server de tipul get
                type: 'GET',
                url: '/Home/Stare',
                contentType: 'aplication/json; charset=utf-8',
                dataType: 'json',
                success: function (response) {
                    document.getElementById("level").value = response.waterLevel;
                    document.getElementById("inflow-value").innerHTML = "Inflow: " + response.inflow;
                    if (response.sensor1State == true) {
                        document.getElementById("sensor1").style.backgroundColor = "green";
                    } else {
                        document.getElementById("sensor1").style.backgroundColor = "red";
                    }
                    if (response.sensor2State == true) {
                        document.getElementById("sensor2").style.backgroundColor = "green";
                    } else {
                        document.getElementById("sensor2").style.backgroundColor = "red";
                    }
                    if (response.sensor3State == true) {
                        document.getElementById("sensor3").style.backgroundColor = "green";
                    } else {
                        document.getElementById("sensor3").style.backgroundColor = "red";
                    }
                    if (response.sensor4State == true) {
                        document.getElementById("sensor4").style.backgroundColor = "green";
                    } else {
                        document.getElementById("sensor4").style.backgroundColor = "red";
                    }
                    if (response.sensor5State == true) {
                        document.getElementById("sensor5").style.backgroundColor = "green";
                    } else {
                        document.getElementById("sensor5").style.backgroundColor = "red";
                    }
                    if (response.m1ONLED == true) {
                        document.getElementById("motor1").style.backgroundColor = "green";
                    } else {
                        document.getElementById("motor1").style.backgroundColor = "red";
                    }
                    if (response.m2ONLED == true) {
                        document.getElementById("motor2").style.backgroundColor = "green";
                    } else {
                        document.getElementById("motor2").style.backgroundColor = "red";
                    }
                    if (response.onled == true) {
                        document.getElementById("on").style.backgroundColor = "green";
                    } else {
                        document.getElementById("on").style.backgroundColor = "red";
                    }
                    if (response.alarm == true) {
                        document.getElementById("alarm").style.backgroundColor = "yellow";
                    } else {
                        document.getElementById("alarm").style.backgroundColor = "white";
                    }
                    setTimeout(function () {
                        getStare();
                    }, 1000);
                },
                failure: function (response) {
                    debugger;
                }
            });
        }
    });</script>
}